.button{
   background-color: rgb(0, 119, 255); 
   top: 50%;
   transition-duration: 200ms;
   margin-left: 25%;
   margin-right: 25%;

}
.button:hover{
    background-color: blue;
}
.name{
   margin-left: 25%;
   margin-right: 25%;
}
.namebox{
    margin-left: 25%;
    margin-right: 25%;
}
.class
{
    background-color: green;
}
.recaptcha
{
    margin-left: 25%;
    margin-right: 25%; 
}
.plane 
{
    transform: rotate(45);
}